{% extends 'base.html' %}

{% load humanize %}
{% load static %}

{% block title %}
    Cart
{% endblock %}


{% block contents %}
<div class="max-w-6xl mx-auto flex flex-wrap items-start py-6 px-6 xl:px-0">
    {% if error %}
        <div class="w-full">
            <div class="alert alert-danger rounded-xl login-error">{{error}}</div>
        </div>
    {% endif %}
    <div class="products w-full lg:w-3/4">
        {% for item in cart %}
        {% include 'cart/part/cart-item.html' %}
        {% endfor %}
    </div>

    <div class="summary w-full w-1/4 p-6 bg-gray-100 rounded-xl mt-3">
        <h2 class="uppercase text-lg mb-5 font-semibold">Resumen del pedido</h2>

        <div class="mb-6 flex justify-between">
            <span class="font-semibold">Total</span>
            <span hx-get="{% url 'Cart total' %}" hx-trigger="update-menu-cart from:body" hx-swap="innerHTML">{% include 'cart/part/cart-total.html' %} </span>
        </div>

        <a href="{% url 'checkout' %}" class="w-full inline-block py-2 rounded-xl bg-violet-400 hover:bg-violet-600 text-white text-center">Continuar</a>
    </div>
</div>
{% endblock %}