{% load humanize %}

{% if item %}
<div class="mb-6 flex pr-6" id="cart-item-{{item.product.id}}">
    <a href="#" class="w-1/4">
        <img src="{% if item.product.image.url %}{{item.product.image.url}}{% endif %}" alt="product-img" class="rounded-xl">
    </a>

    <div class="w-3/4 pl-6">
        <div class="flex justify-between">
            <a href="{% url 'Detail product' item.product.id %}" class="cart_links hover:font-semibold text-lg">{{item.product.name}}</a>

            
        </div>

        <hr>

        <div class="flex">
            <div class="w-2/5 mt-3 flex items-center space-x-4 ">
                <span class="md:mt-3 flex items-center space-x-4 border-solid border-2 border-violet-500 rounded-lg">
                <a class="md:p-3 bg-violet-500 text-white hover:bg-violet-600 cart-bottom"  hx-get="{% url 'update_cart' item.product.id 'decrement' %}" hx-target="#cart-item-{{item.product.id}}" hx-swap="outerHTML">
                    -
                </a>
    
                <div class="md:p-3">{{ item.quantity }}</div>
                
                <a class="md:p-3 bg-violet-500 text-white hover:bg-violet-600 cart-bottom" hx-get="{% url 'update_cart' item.product.id 'increment' %}" hx-target="#cart-item-{{item.product.id}}" hx-swap="outerHTML">
                    +
                </a>
                </span>
            </div>
    
            <div class="w-3/5 mt-3">
                <div class="mt-3 float-right">
                    <span class="text-black font-semibold">Precio Unitario: ${{item.product.price | intcomma}}</span>
                    <hr class="w-full mt-1">
        
                    <span class="flex justify-between pt-1 text-black font-bold float-right">Total: ${{item.total_price | intcomma}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}