* {
    box-sizing: border-box;
}

.background-white {
    background-color: white;
}

a {
    border: none;
    font-size: 14px;
    height: auto;
    position: relative;
}

a:hover {
    color: rgb(111, 3, 189) !important;
    font-weight: bold;
}

a:-webkit-any-link {
    cursor: pointer;
}


.nav-header {
    box-sizing: border-box;
    box-shadow: 0 3px 10px #0000003d;

}

.nav-user-name {
    font-size: 14px;
    margin-right: 5px;
    padding-top: 1px;
}

.nav-user-menu {
    left: 5px;

}

.block-search {
    transform: translateY(-0.6em);
}

.traslation-down {
    transform: translate(-.8em, .7em)
}

.foot {
    box-shadow: 0 -3px 10px #0000003d;

}

.dropdown-item {
    left: 0 !important;
    box-shadow: 0 12px 32px 0 rgba(0,0,0,.1);
    opacity: .7;
    transform: translateY(3px);
    transition: opacity 150ms ease-in-out;
    border-radius: 2px 2px 5px 5px ;
    z-index: 9999;
}

.dropdown-item::before {
    border: 10px outset transparent;
    border-bottom: 10px solid #FFF;
    display: block;
    height: 0;
    position: absolute;
    right: inherit;
    top: -18px;
    width: 0;
}

.text-xl-footer {
    font-size: 40px !important;
    text-align: center;
}

.h5-footer {
    margin-bottom: .5em;
    color: rgb(91 33 182);
    font-weight: bold;
}


.no-article {
    box-shadow: 0 0 10px 7px #0000003d;

}

.owl-title {
    font-size: 3em !important;
    text-align: center;
    margin-bottom: 0.5em;
}

.owl-title {
    border: none;
    line-height: 36px;
    margin: 0 0 20px;
    padding: 0;
    position: relative;
}

.owl-title::after {
    background: indigo;
    content: "";
    display: block;
    height: 3px;
    margin-left: 10%;
    position: absolute;
    top: 28px;
    width: 80%;
    z-index: 1;
}

.owl-title span {
    color: indigo;
    display: table;
    margin: 0 auto;
    padding: 5px 15px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: auto;
    z-index: 2;
}

.span-owl-title {
    background: white;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    position: relative;
}

.owl-theme {
    padding-top: 0.7em;
}

.no-display {
    display: none;
}

.spinner {
    color: indigo;
    margin: 3em auto;
}

#btn  {
    color:#DDDDDD;
    background-color: #6D28D9 !important;
    border-color: #6D28D9 !important;
    width: 100%;
    height: 2.5em;
    border-radius: 5px;
    margin: 0.5em auto;
    
}

.card .card-body a img{
    margin: 1em;
    box-shadow: 0 0 10px #0000003d;
    align-items: center;
    letter-spacing: normal;
}

.card:hover .card-body a img{
    box-shadow: 0 0px 10px indigo;
    color: rgb(98, 0, 168);
}