{% extends 'base.html' %}

{% load humanize %}
{% load static %}

{% block title %}
    Mis compras
{% endblock %}

{% block style %} 
    <style>
        body {
            background-color: #ffffff;
            background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23bc00ff' fill-opacity='0.11' fill-rule='evenodd'/%3E%3C/svg%3E");
        }
    </style>
{% endblock %}

{% block contents %}
<div class="flex justify-center my-20">
    <div class="w-full m-12 md:w-3/4 bg-white shadow border border-gray-500 rounded-xl">
        <div class="max-w-6xl mx-auto p-6">
            <h1 class="mb-5 mt-5 text-3xl text-center uppercase">Panel de Administrador</h1>
            <div class="grid grid-cols-3 grid-flow-row gap-4">
                <a href="{% url 'add category' %}">
                    <div class="m-3 p-10 bg-gray-100 shadow border border-black rounded-xl hover:bg-purple-700 hover:text-white hover:font-bold hover:text-lg hover:uppercase">
                        <div class="mb-6 text-center">
                            Agregar categoría
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="m-3 p-10 bg-gray-100 shadow border border-black rounded-xl hover:bg-purple-700 hover:text-white hover:font-bold hover:text-lg hover:uppercase">
                        <div class="mb-6 text-center">
                            Agregar producto
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="m-3 p-10 bg-gray-100 shadow border border-black rounded-xl hover:bg-purple-700 hover:text-white hover:font-bold hover:text-lg hover:uppercase">
                        <div class="mb-6 text-center">
                            Ver pedidos de cancelación
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="m-3 p-10 bg-gray-100 shadow border border-black rounded-xl hover:bg-purple-700 hover:text-white hover:font-bold hover:text-lg hover:uppercase">
                        <div class="mb-6 text-center">
                            Agregar categoría
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="m-3 p-10 bg-gray-100 shadow border border-black rounded-xl hover:bg-purple-700 hover:text-white hover:font-bold hover:text-lg hover:uppercase">
                        <div class="mb-6 text-center">
                            Agregar categoría
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="m-3 p-10 bg-gray-100 shadow border border-black rounded-xl hover:bg-purple-700 hover:text-white hover:font-bold hover:text-lg hover:uppercase">
                        <div class="mb-6 text-center">
                            Agregar categoría
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}