{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | GameOver</title>
    <!-- Icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/media/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/media/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/media/icons/favicon-16x16.png' %}">
    {% block style %}{% endblock %}
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <!-- Tailwind Css -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- My style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- HEADER -->
    <header class="background-white">
        <nav class="border-b border-gray-300 back bg-indigo nav-header">
            <div class="max-w-6xl mx-auto py-2 px-6 xl:px-0 flex items-center justify-between">
                <div class="w-auto menu-left flex items-center space-x-6">
                    <!--  LOGO -->
                    <span class="offcanvas-header py-4 text-xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-pink-700 to-violet-700">
                        Game Over
                    </span>
                    <!-- LINKS -->
                    <ul class="flex items-center space-x-4">
                        <li><a class="links-inicio" href="/">Inicio</a></li>
                        <li>
                            <a class="dropdown-toggle links-inicio" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Productos
                            </a>
                            <ul class="dropdown-menu"> 
                                {% for category in categories %}
                                <li><a class="dropdown-item links-inicio" href="{% url 'Searh product' %}?category={{category.name}}">{{category.name}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% if request.user.is_staff %}
                        <li>
                            <a class="links-inicio" href="{% url 'staff view' %}">Panel de administrador</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <!-- SEARCH -->
                <form action="{% url 'Searh product' %}" class="block-search">
                    <span class="sr-only">Buscar</span>
                    <button type="submit">
                        <span class="absolute inset-y-2 right-0 flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 traslation-down" fill="none" viewBox="0 0 24 24" stroke="#94a3b8" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                            </svg>
                        </span>
                    </button>
                    <input class="placeholder:italic placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm" placeholder="Buscar" type="text" aria-label="Search" name="search" />
                </form>
                <!-- USER -->
                <div class="grid grid-cols-2">
                    <div class="menu-right flex items-center space-x-4 dropdown">
                        <div hx-get="{% url 'Menu cart' %}" hx-trigger="update-menu-cart from:body" hx-swap="innerHTML">
                            {% include 'cart/menu-cart.html' %}
                        </div>
                    </div>
                    {% if request.user.is_authenticated %}
                    <div>
                        <a class="links-cuenta" href="#" aria-expanded="false" role="button" data-bs-toggle="dropdown" aria-label="Menú de usuario, {{request.user.username}}">
                            <span class="grid grid-cols-3">
                                <span class="nav-header-user place-self-start">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                                    </svg>
                                </span>
                                <span class="nav-user-name">{{request.user.first_name}}</span>
                                <span class="nav-header-chevron">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
                                    </svg>
                                </span>
                            </span>
                        </a>
                        <ul class="dropdown-menu nav-user-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item links-inicio" href="{% url 'My profile' %}">Mi perfil</a></li>
                            <li><a class="dropdown-item links-inicio" href="{% url 'my purchases' %}">Mis Compras</a></li>
                            <li><a class="dropdown-item links-inicio" href="{% url 'Address' %}">Direcciones</a></li>
                            <li><a class="dropdown-item links-inicio" href="{% url 'Logout' %}">Salir</a></li>
                        </ul>
                    </div>
                    {% else %}
                    <div class="menu-right flex items-center space-x-4 dropdown">
                        <a class="links-inicio" href="{% url 'Login' %}">Ingresar</a>
                        <a class="links-inicio" href="{% url 'Register' %}">Creá tu cuenta</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>
    <!-- MAIN SECTION -->
    <main>
        <div id="spinner1" class="text-center spinner">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div id="content1" class="no-display">
            {% block contents %}
            {% endblock contents %}
        </div>
    </main>
    <!-- FOOTER -->
    <footer class="foot bd-footer bg-gradient-to-r from-zinc-50 absolute inset-x-0">
        <div class="container py-4 py-md-5 px-4 px-md-3">
            <div class="row">
                <div class="col-lg-3 mb-3 content-center">
                    <span
                        class="py-4 text-xl-footer font-bold bg-clip-text text-transparent bg-gradient-to-r from-pink-700 to-violet-700">Game Over</span>
                </div>
                <div class="col-6 col-lg-2 offset-lg-1 mb-3">
                    <h5 class="h5-footer">Links</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a class="footer_links nav__user__link" href="/">Inicio</a></li>
                        <li class="mb-2"><a class="footer_links nav__user__link" href="{% url 'about us' %}">Quienes Somos</a></li>
                        <li class="mb-2"><a class="footer_links nav__user__link" href="{% url 'contact us' %}">Contáctenos</a></li>
                    </ul>
                </div>
                <div class="col-6 col-lg-2 mb-3">
                    <h5 class="h5-footer">Categorias</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a class="footer_links nav__user__link" href="{% url 'Searh product' %}?category=placa+de+video">Placas de videos</a></li>
                        <li class="mb-2"><a class="footer_links nav__user__link" href="{% url 'Searh product' %}?category=Procesador">Procesadores</a></li>
                        <li class="mb-2"><a class="footer_links nav__user__link" href="{% url 'Searh product' %}?category=memorias">Memorias</a></li>
                        <li class="mb-2"><a class="footer_links nav__user__link" href="{% url 'Searh product' %}?category=almacenamiento">Almacenamiento</a></li>
                        <li class="mb-2"><a class="footer_links nav__user__link" href="{% url 'Searh product' %}">Todas las categorias</a></li>
                    </ul>
                </div>
                <div class="col-6 col-lg-2 mb-3">
                    <h5 class="h5-footer">Marcas</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a class="footer_links nav__user__link" href="{% url 'Searh product' %}?brand=INTEL">Intel</a></li>
                        <li class="mb-2"><a class="footer_links nav__user__link" href="{% url 'Searh product' %}?brand=AMD">AMD</a></li>
                        <li class="mb-2"><a class="footer_links nav__user__link" href="{% url 'Searh product' %}?brand=Asus">Asus</a></li>
                        <li class="mb-2"><a class="footer_links nav__user__link" href="{% url 'Searh product' %}?brand=Nvidia">Nvidia</a></li>
                        <li class="mb-2"><a class="footer_links nav__user__link" href="{% url 'Searh product' %}?brand=Msi">Msi</a></li>
                    </ul>
                </div>
                <div class="col-6 col-lg-2 mb-3">
                    <h5 class="h5-footer">Ayuda</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a class="footer_links nav__user__link" href="{% url 'faq' %}">FAQ</a></li>
                        <li class="mb-2"><a class="footer_links nav__user__link" href="{% url 'privacy policy' %}">Politica de privacidad</a></li>
                        <li class="mb-2"><a class="footer_links nav__user__link" href="{% url 'cancel buy' %}">Botón de arrepentimiento</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Owl carousel -->
    <script src="{% static '/js/jquery.min.js' %}"></script>
    <script src="{% static '/js/owl.carousel.min.js' %}"></script>
    </script>
    <!-- My js -->
    <script src="{% static '/js/main.js' %}"></script>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <!-- Other -->
    <script src="https://unpkg.com/htmx.org@1.7.0"></script>
    {% block script %}{% endblock %}
</body>
</html>