{% extends 'base.html' %}

{% load humanize %}
{% load static %}

{% block title %}
    Mi perfil
{% endblock %}


{% block contents %}
    <h2 class="my-6">My orders</h2>
    {% for order in orders %}
        <div class="w-full mb-6 p-6 flex flex-wrap bg-gray-100 rounded-xl">
            <div class="mb-6 flex justify-between">
                <a href="#">Order id: {{order.id}}</a>
            </div>
            <div class="w-full mb-6">
                {% for item in order.items.all  %}
                <div class="product mb-6 flex pr-6">
                    <a href="/products/detail-product/{{item.product.id}}" class="w-1/4">
                        <img src="{% if item.product.image.url %}{{item.product.image.url}}{% endif %}" alt="" class="hover:shadow-lg rounded-xl" height="150" width="150">
                    </a>

                    <div class="w-3/4 pl-6">
                        <div class="flex justify-between">
                            <a href="/products/detail-product/{{item.product.id}}" class="text-lg">{{ item.product.name }}</a>
                            <p class="mb-6 pt-1 text-gray-400">$ {{ item.product.price | floatformat:2|intcomma}}</p>
                        </div>

                        <hr>

                        <div class="flex">
                            <div class="mt-6 w-1/5">
                                Quantity: {{ item.quantity }}
                            </div>
                            <div class="mt-6 w-3/5"></div>
                            <div class="mt-6 w-1/5 float-right">
                                Total: $ {{ item.total_price | floatformat:2|intcomma}}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div>
                <p class="text-lg">Date: {{ order.create_at | date:"d M Y" }}</p>
                <p class="text-lg">Total: $ {{ order.paid_amount | floatformat:2|intcomma}}</p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}